async-generator==1.10
attrs
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer
exceptiongroup
h11
idna==3.4
jsonlines==3.1.0
lm-dataformat==0.0.20
outcome
PySocks==1.7.1
requests
selenium
sniffio
sortedcontainers==2.4.0
soupsieve
tqdm
trio
trio-websocket
ujson
urllib3
wsproto
zstandard
caqui
